[defaults]
inventory = inventory/hetzner.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
stderr_callback = yaml
forks = 10
timeout = 30
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_facts_cache
fact_caching_timeout = 7200
nocows = 1
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60 -o PreferredAuthentications=publickey
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
